{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil Administration
{% endblock %}



{% block content %}

    <div class="row">
        <div class="col-md-3">
            {{ render(controller('App\\Controller\\ComponentsController::sidenav')) }}
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                {% include '_components/_listeProducts.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
